<div class="edit-todo-container">
    <h2>Edit Todo</h2>
    <div class="edit-todo-form">
      <label>Title:</label>
      <input required type="text" [(ngModel)]="currentTodo.title" />
      <label>Description:</label>
      <textarea required [(ngModel)]="currentTodo.description"></textarea>
      <div class="edit-todo-buttons">
        <button class="save" (click)="updateTodo()">Update</button>
        <button class="cancel" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </div>
  

  