.todo-list-container {
    max-width: 60%;
    margin: auto;
    padding: 20px;
  }
  

  .todo-form {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  
  .todo-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .todo-item div {
    flex: -1;
  }
  
  .todo-buttons {
    display: flex;
  }

  
  .todo-buttons button {
    margin-left: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 98%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-todo-button {

    width: auto;
    text-align: center;
    background-color: #4caf50;
    color: white;
    padding: 16px 0px;
  }

  .delete-button{
    background-color: #dc3545;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

 /* Media query for screens smaller than 600px */
 @media (max-width: 600px) {
    .todo-list-container {
      max-width: 95%;
    }
  
    .todo-form{
            display: block;
            align-items: center;
            gap: 10px;
    }
    .todo-item {
      padding: 10px;
    }
  }
  