
<div class="todo-list-container">
    <h1 style="text-align: center;">Angular Todo App</h1>
    <div class="todo-form">
      <!-- <label for="title">Title:</label> -->
      <input placeholder="Title" id="title" type="text" [(ngModel)]="newTodo.title" />
  
      <!-- <label for="description">Description:</label> -->
      <input placeholder="Description" id="description" [(ngModel)]="newTodo.description"/>
  
      <input class="add-todo-button" (click)="addNewTodo()" value="Add New Todo"/>
    </div>
  
    <div *ngFor="let todo of todos" class="todo-item">
      <div className="todo-content">
        <h3>{{ todo.title }}</h3>
        <p>{{ todo.description }}</p>
      </div>
      <div class="todo-buttons">
        <button class="delete-button" (click)="deleteTodo(todo.id)">Delete</button>
        <button class="edit-button" (click)="editTodo(todo)">Edit</button>
      </div>
    </div>
  </div>